<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiabo.medical.mapper.AccessoryMapper">  
    <resultMap type="com.jiabo.medical.entity.Accessory" id="accMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="accessoryId" column="accessory_id" javaType="java.lang.Integer"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="userManual" column="user_manual"/>
        <result property="maintenanceManual" column="maintenance_manual"/>
        <result property="handbook" column="handbook"/>
        <result property="data1file" column="data1file"/>
        <result property="data1desc" column="data1desc"/>
        <result property="data2file" column="data2file"/>
        <result property="data2desc" column="data2desc"/>
        <result property="data3file" column="data3file"/>
        <result property="data3desc" column="data3desc"/>
        <result property="data4file" column="data4file"/>
        <result property="data4desc" column="data4desc"/>
        <result property="data5file" column="data5file"/>
        <result property="data5desc" column="data5desc"/>
        
        <result property="paperFilePlace" column="paper_file_place"/>
        <result property="paperFileContent" column="paper_file_content"/>
 
    </resultMap>
    
    
  
  <select id="getAccessoryInfo" parameterType="java.lang.Integer" resultMap="accMap">
        select *  
        from tb_device_accessory 
        where
                accessory_id = #{accessoryId,jdbcType=INTEGER}
            
  </select>
  
  <insert id="addAccessory" parameterType="com.jiabo.medical.entity.Accessory">  
    insert into tb_device_accessory
        (
            user_manual,
            maintenance_manual, 
            handbook, 
            data1file, 
            data1desc, 
            data2file, 
            data2desc,
            data3file, 
            data3desc, 
            data4file, 
            data4desc, 
            data5file, 
            data5desc, 
            paper_file_place,
            paper_file_content,
            create_time, 
            creater, 
            modify_time, 
            modifier
        )
        values  
        (
             #{userManual,jdbcType=INTEGER}, 
             #{maintenanceManual,jdbcType=INTEGER},
             #{handbook,jdbcType=INTEGER},
             #{data1file,jdbcType=VARCHAR},
             #{data1desc,jdbcType=VARCHAR},
             #{data2file,jdbcType=VARCHAR},
             #{data2desc,jdbcType=VARCHAR},
             #{data3file,jdbcType=VARCHAR},
             #{data3desc,jdbcType=VARCHAR},
             #{data4file,jdbcType=VARCHAR},
             #{data4desc,jdbcType=VARCHAR},
             #{data5file,jdbcType=VARCHAR},
             #{data5desc,jdbcType=VARCHAR},
             #{paperFilePlace,jdbcType=VARCHAR},
             #{paperFileContent,jdbcType=VARCHAR},
             #{createTime,jdbcType=TIMESTAMP},
             #{creater,jdbcType=INTEGER},
             #{modifyTime,jdbcType=TIMESTAMP},
             #{modifier,jdbcType=INTEGER}
         )
             
  </insert>
  
  <select id="getSequenceNo" resultType="java.lang.Integer" >
     SELECT last_value from tb_device_accessory_accessory_id_seq
  </select>
  
  <delete id="delAccessory" parameterType="java.lang.Integer">  
    delete from tb_device_accessory where accessory_id = #{accessoryId,jdbcType=INTEGER}  
  </delete>
  

</mapper>