<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiabo.medical.mapper.ContractMapper">  
    <resultMap type="com.jiabo.medical.entity.Contract" id="contrMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="contractId" column="contract_id" javaType="java.lang.Integer"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="contractNo" column="contract_no"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="hospital" column="hospital_name"/>
        <result property="contractName" column="contract_name"/>
        <result property="contractFile" column="contract_file"/>
        
        <result property="deviceCount" column="device_count"/>
        <result property="acceptDate" column="accept_date" javaType="java.sql.Timestamp"/>
    </resultMap>
    
    <select id="getContrRecCount" parameterType="com.jiabo.medical.entity.Contract" resultType="java.lang.Integer">
        select count(1)
          from tb_contract as tc
            inner join tb_hospital as th
                on tc.hospital_id = th.hospital_id
        <where>
            <if test="contractId != null and contractId != ''">
                tc.contract_id = #{contractId}
            </if>
            <if test="contractNo != null and contractNo != ''">
                and tc.contract_no like #{contractNo}
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                and tc.hospital_id = #{hospitalId}
            </if>
            <if test="hospital != null and hospital != ''">
                and th.hospital_name like #{hospital}
            </if>
            
            <if test="acceptDate != null and acceptDate != ''">
                and tc.accept_date = #{acceptDate}
            </if>
         </where>
        
    </select>
  
  <select id="getContractList" parameterType="com.jiabo.medical.entity.Contract" resultMap="contrMap">
    select tc.contract_id,tc.contract_no,tc.hospital_id,th.hospital_name,tc.contract_name,tc.contract_file, tc.device_count,tc.accept_date  
        from tb_contract as tc
            inner join tb_hospital as th
                on tc.hospital_id = th.hospital_id
        <where>
            <if test="contractId != null and contractId != ''">
                tc.contract_id = #{contractId}
            </if>
            <if test="contractNo != null and contractNo != ''">
                and tc.contract_no like #{contractNo}
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                and tc.hospital_id = #{hospitalId}
            </if>
            <if test="hospital != null and hospital != ''">
                and th.hospital_name like #{hospital}
            </if>
            
            <if test="acceptDate != null and acceptDate != ''">
                and tc.accept_date = #{acceptDate}
            </if>
         </where>
         order by tc.hospital_id, tc.accept_date
         limit #{pageSize,jdbcType=INTEGER} offset #{pageIndex,jdbcType=INTEGER}
         
  </select>
  
  <select id="getContractInfo" parameterType="java.lang.Integer" resultMap="contrMap">
        select tc.contract_id,tc.contract_no,tc.hospital_id,th.hospital_name,tc.contract_name,tc.contract_file, tc.device_count,tc.accept_date  
        from tb_contract as tc
            inner join tb_hospital as th
                on tc.hospital_id = th.hospital_id
        where
                tc.contract_id = #{contractId}
            
  </select>
  
  <insert id="addContractInfo" parameterType="com.jiabo.medical.entity.Contract">  
    insert into tb_contract
        (
            contract_no,
            contract_name, 
            contract_file, 
            hospital_id, 
            device_count, 
            accept_date, 
            create_time, 
            creater, 
            modify_time, 
            modifier
        )
        values  
        (
             #{contractNo,jdbcType=VARCHAR}, 
             #{contractName,jdbcType=VARCHAR},
             #{contractFile,jdbcType=VARCHAR},
             #{hospitalId,jdbcType=INTEGER},
             #{deviceCount,jdbcType=INTEGER},
             #{acceptDate,jdbcType=TIMESTAMP},
             #{createTime,jdbcType=TIMESTAMP},
             #{creater,jdbcType=INTEGER},
             #{modifyTime,jdbcType=TIMESTAMP},
             #{modifier,jdbcType=INTEGER}
         )
             
  </insert>
  
  <select id="getSequenceNo" resultType="java.lang.Integer" >
     SELECT last_value from tb_contract_contract_id_seq
  </select>
  
  <update id="updContractInfo" parameterType="com.jiabo.medical.entity.Contract">
    update tb_contract 
        <set>
            <if test="contractNo != null and contractNo != ''">
                contract_no = #{contractNo},
            </if>
            <if test="contractName != null and contractName != ''">
                contract_name = #{contractName},
            </if>
            <if test="contractFile != null and contractFile != ''">
                contract_file = #{contractFile},
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                hospital_id = #{hospitalId},
            </if>
            <if test="deviceCount != null and deviceCount != ''">
                device_count = #{deviceCount},
            </if>
            <if test="acceptDate != null and acceptDate != ''">
                accept_date = #{acceptDate},
            </if>
	           modify_time = #{modifyTime,jdbcType=TIMESTAMP},
	           modifier = #{modifier}
        </set>
           
        where contract_id = #{contractId,jdbcType=INTEGER}
  </update>
  
  <delete id="delContractInfo" parameterType="java.lang.Integer">  
    delete from tb_contract where contract_id = #{contractId,jdbcType=INTEGER}  
  </delete>

</mapper>