<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiabo.medical.mapper.MaintainCaseMapper">  
    <resultMap type="com.jiabo.medical.entity.PmCaseDTO" id="caseMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="caseId" column="case_id" javaType="java.lang.Integer"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="caseSubject" column="case_subject"/>
        <result property="caseRemark" column="case_remark"/>
        <result property="caseState" column="case_state"/>
        <result property="assigneeUserId" column="assignee_user_id"/>
        <result property="assigneeUserName" column="assignee_user_name"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="planTime" column="plan_pm_time"/>
        <result property="actualTime" column="actual_pm_time"/>
        <result property="actualUserName" column="actual_user_name"/>
        <result property="accessoryInfo" column="accessory_info"/>
        <result property="pmFile" column="pm_file"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time" javaType="java.sql.Timestamp"/>
        <result property="creater" column="creater"/>
        <result property="modifyTime" column="modify_time" javaType="java.sql.Timestamp"/>
        <result property="modifier" column="modifier"/>
    </resultMap>
    
    <select id="getCaseRecCount" parameterType="com.jiabo.medical.entity.PmCaseDTO" resultType="java.lang.Integer">
        select count(1)
          from tb_pm_case as tsc
            left join tb_device as td
                on td.device_id = tsc.device_id
        <where>
            <if test="assigneeUserId != null and assigneeUserId != ''">
                tsc.assignee_user_id = #{assigneeUserId}
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                and td.device_code like #{deviceCode}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and td.device_name like #{deviceName}
            </if>
         </where>
        
    </select>
    
    <select id="rotateMtCaseState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1)
        from tb_pm_case 
            where assignee_user_id = #{assigneeUserId}
            and case_state = 10
            
  </select>
  
  <select id="queryMainCaseState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1)
        from tb_pm_case 
            where device_id = #{deviceId}
            and case_state = 10
            
  </select>
  
  <select id="getMainCaseList" parameterType="com.jiabo.medical.entity.PmCaseDTO" resultMap="caseMap">
    select tmc.*,td.device_name, tu.display_name as assignee_user_name, tu1.display_name as actual_user_name, th.hospital_name,tdm.dept_name
          from tb_pm_case as tmc  
            left join tb_device as td
                on td.device_id = tmc.device_id
            left join tb_hospital as th
                on td.hospital_id = th.hospital_id
            left join tb_department as tdm
                on td.dept_id = tdm.dept_id
            left join tb_user as tu
                on tmc.assignee_user_id = tu.user_id
            left join tb_user as tu1
                on tmc.actual_pm_user_id = tu1.user_id
        <where>
            <if test="assigneeUserId != null and assigneeUserId != ''">
                tmc.assignee_user_id = #{assigneeUserId}
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                and td.device_code like #{deviceCode}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and td.device_name like #{deviceName}
            </if>
         </where>
         order by tmc.create_time desc
         limit #{pageSize,jdbcType=INTEGER} offset #{pageIndex,jdbcType=INTEGER}
         
  </select>
  
  <select id="getMainCaseInfo" parameterType="java.lang.Integer" resultMap="caseMap">
        select tmc.*,td.device_name, tu.display_name as assignee_user_name, tu1.display_name as actual_user_name, th.hospital_name,tdm.dept_name
          from tb_pm_case as tmc  
            left join tb_device as td
                on td.device_id = tmc.device_id
            left join tb_hospital as th
                on td.hospital_id = th.hospital_id
            left join tb_department as tdm
                on td.dept_id = tdm.dept_id
            left join tb_user as tu
                on tmc.assignee_user_id = tu.user_id
            left join tb_user as tu1
                on tmc.actual_pm_user_id = tu1.user_id
        where
            tmc.case_id = #{caseId}
            
  </select>
  
  <insert id="addMaintainCase" parameterType="com.jiabo.medical.entity.PmCaseDTO">  
    insert into tb_pm_case
        (
            case_subject,
            case_remark, 
            case_state, 
            device_id, 
            assignee_user_id,
            plan_pm_time,
            actual_pm_time,
            actual_pm_user_id,
            accessory_info,
            pm_file,
            remark,
            create_time, 
            creater, 
            modify_time, 
            modifier
        )
        values  
        (
             #{caseSubject,jdbcType=VARCHAR}, 
             #{caseRemark,jdbcType=VARCHAR},
             #{caseState,jdbcType=INTEGER},
             #{deviceId,jdbcType=INTEGER},
             null,
             null,
             to_timestamp(#{actualTime},'YYYY-MM-DD HH24:MI:SS'),
             #{actualUserId,jdbcType=INTEGER},
             #{accessoryInfo,jdbcType=VARCHAR},
             #{pmFile,jdbcType=VARCHAR},
             #{remark,jdbcType=VARCHAR},
             #{createTime,jdbcType=TIMESTAMP},
             #{creater,jdbcType=INTEGER},
             #{modifyTime,jdbcType=TIMESTAMP},
             #{modifier,jdbcType=INTEGER}
         )
             
  </insert>
  
  <select id="getRoleName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select tr.role_name
        from tr_user_role as tur
            inner join tb_role as tr
                on tur.role_id = tr.role_id
                  where tur.user_id = #{userId}
  </select>
  
  <select id="getPmCaseId" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
     SELECT case_id from tb_pm_case
       where device_id = #{deviceId,jdbcType=INTEGER}
            and case_state = 10
  </select>
  
  <select id="getSequenceNo" resultType="java.lang.Integer" >
     SELECT last_value from tb_pm_case_case_id_seq
  </select>
  
  <select id="getAssigneeIds" parameterType="java.lang.String" resultType="java.lang.Integer">
    select tur.user_id
        from tr_user_role as tur
            inner join tb_role as tr
                on tur.role_id = tr.role_id
                  where tr.role_name = #{roleName}
  </select>

  <update id="updMaintainCase" parameterType="com.jiabo.medical.entity.PmCaseDTO">
    update tb_pm_case 
        <set>
            <if test="caseRemark != null and caseRemark != ''">
                case_remark = #{caseRemark},
            </if>
            <if test="caseState != null and caseState != ''">
                case_state = #{caseState},
            </if>
            <if test="assigneeUserId != null and assigneeUserId != ''">
                assignee_user_id = #{assigneeUserId},
            </if>
            <if test="actualTime != null and actualTime != ''">
                actual_pm_time = to_timestamp(#{actualTime},'YYYY-MM-DD HH24:MI:SS'),
            </if>
             <if test="accessoryInfo != null and accessoryInfo != ''">
                accessory_info = #{accessoryInfo},
            </if>
            <if test="pmFile != null and pmFile != ''">
                pm_file = #{pmFile},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            
	           modify_time = #{modifyTime,jdbcType=TIMESTAMP},
	           modifier = #{modifier}
        </set>
           
        where device_id = #{deviceId,jdbcType=INTEGER}
            and case_state = 10
  </update>
 

</mapper>