<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiabo.medical.mapper.PurchaseMapper">  
    <resultMap type="com.jiabo.medical.entity.Purchase" id="purchaseMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="purchaseId" column="purchase_id" javaType="java.lang.Integer"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="contractId" column="contract_id"/>
        <result property="purchaseOwner" column="purchase_owner"/>
        <result property="hasBid" column="has_bid"/>
    </resultMap>
    
  <select id="getPurchaseCount" parameterType="com.jiabo.medical.entity.Purchase" resultType="java.lang.Integer">
    select count(1) 
        from tb_purchase 
        <where>
            <if test="purchaseId != null and purchaseId != ''">
                purchase_id = #{purchaseId}
            </if>
            <if test="contractId != null and contractId != ''">
                and contract_id = #{contractId}
            </if>
            <if test="purchaseOwner != null and purchaseOwner != ''">
                and purchase_owner like #{purchaseOwner}
            </if>
            <if test="hasBid != null and hasBid != ''">
                and has_bid = #{hasBid}
            </if>
         </where>
    </select>
  
  <select id="getPurchaseList" parameterType="com.jiabo.medical.entity.Purchase" resultMap="purchaseMap">
    select purchase_id, contract_id, purchase_owner,has_bid 
        from tb_purchase 
        <where>
            <if test="purchaseId != null and purchaseId != ''">
                purchase_id = #{purchaseId}
            </if>
            <if test="contractId != null and contractId != ''">
                and contract_id = #{contractId}
            </if>
            <if test="purchaseOwner != null and purchaseOwner != ''">
                and purchase_owner like #{purchaseOwner}
            </if>
            <if test="hasBid != null and hasBid != ''">
                and has_bid = #{hasBid}
            </if>
         </where>
         order by purchase_owner, contract_id
         limit #{pageSize,jdbcType=INTEGER} offset #{pageIndex,jdbcType=INTEGER} 
            
  </select>
  
  <select id="getPurchaseInfo" parameterType="java.lang.Integer" resultMap="purchaseMap">
        select purchase_id, contract_id, purchase_owner,has_bid 
        from tb_purchase
        where
            purchase_id = #{purchaseId}
            
  </select>
  
  <insert id="addPurchaseInfo" parameterType="com.jiabo.medical.entity.Purchase">  
    insert into tb_purchase
        (
            contract_id,
            purchase_owner, 
            has_bid, 
            create_time, 
            creater, 
            modify_time, 
            modifier
        )
        values  
        (
             #{contractId,jdbcType=INTEGER},
             #{purchaseOwner,jdbcType=VARCHAR},
             #{hasBid,jdbcType=INTEGER},
             #{createTime,jdbcType=TIMESTAMP},
             #{creater,jdbcType=INTEGER},
             #{modifyTime,jdbcType=TIMESTAMP},
             #{modifier,jdbcType=INTEGER}
         )
             
  </insert>
  
  <select id="getSequenceNo" resultType="java.lang.Integer" >
     SELECT last_value from tb_purchase_purchase_id_seq
  </select>
  
  <update id="updPurchaseInfo" parameterType="com.jiabo.medical.entity.Purchase">
    update tb_purchase 
        <set>
            <if test="contractId != null and contractId != ''">
                contract_id = #{contractId},
            </if>
            <if test="purchaseOwner != null and purchaseOwner != ''">
                purchase_owner = #{purchaseOwner},
            </if>
            <if test="hasBid != null and hasBid != ''">
                has_bid = #{hasBid},
            </if>
	           modify_time = #{modifyTime,jdbcType=TIMESTAMP},
	           modifier = #{modifier}
        </set>
           
        where purchase_id = #{purchaseId,jdbcType=INTEGER}
  </update>
  
  <delete id="delPurchase" parameterType="java.lang.Integer">  
    delete from tb_purchase where purchase_id = #{purchaseId,jdbcType=INTEGER}  
  </delete>

</mapper>