<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiabo.medical.mapper.StockTKCaseMapper">  
    <resultMap type="com.jiabo.medical.entity.StockTKCaseDTO" id="caseMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="caseId" column="case_id" javaType="java.lang.Integer"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="caseSubject" column="case_subject"/>
        <result property="caseRemark" column="case_remark"/>
        <result property="caseState" column="case_state"/>
        <result property="assigneeUserId" column="assignee_user_id"/>
        <result property="planBeginTime" column="plan_begin_time"/>
        <result property="planEndTime" column="plan_end_time"/>
        <result property="actualTime" column="actual_time"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="deptNameArr" column="dept_name_arr"/>
        <result property="assigneeUserName" column="display_name"/>
        <result property="createTime" column="create_time" javaType="java.sql.Timestamp"/>
        <result property="creater" column="creater"/>
        <result property="modifyTime" column="modify_time" javaType="java.sql.Timestamp"/>
        <result property="modifier" column="modifier"/>
    </resultMap>
    
    <resultMap type="com.jiabo.medical.entity.StockCaseDTO" id="devMap">
        <!-- 用result属性来映射非主键字段 -->
        <result property="caseId" column="case_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="operationUserId" column="operation_user_id"/>
        <result property="operationUserName" column="display_name"/>
        <result property="createTime" column="create_time" javaType="java.sql.Timestamp"/>
        <result property="creater" column="creater"/>
        <result property="modifyTime" column="modify_time" javaType="java.sql.Timestamp"/>
        <result property="modifier" column="modifier"/>
    </resultMap>
    
    <select id="getDeviceTKCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1)
          from tb_stocktaking_case_actual_device
            where case_id = #{caseId}
                and operation_user_id is null
                and operation_time is null
        
    </select>
    
    <select id="getRoleName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select tr.role_name
        from tr_user_role as tur
            inner join tb_role as tr
                on tur.role_id = tr.role_id
                  where tur.user_id = #{userId}
  </select>
    
    <select id="rotateTKCaseState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1)
        from tb_stocktaking_case 
            where assignee_user_id = #{assigneeUserId}
            and case_state = 10
            
  </select>
  
  <select id="getCaseRecCount" parameterType="com.jiabo.medical.entity.StockTKCaseDTO" resultType="java.lang.Integer">
        select count(1)
          from (
            select 
              tmc.*, string_agg (tde.dept_name, ',' ) as dept_name_arr, tu.display_name
              from tb_stocktaking_case as tmc  
	          inner join tb_stocktaking_case_plan_dept as tscp
	            on tmc.case_id = tscp.case_id
	          inner join tb_department as tde
	                on tde.dept_id = tscp.dept_id
	          left join tb_user as tu
	                on tmc.assignee_user_id = tu.user_id
	        <where>
	            <if test="assigneeUserId != null">
	                tmc.assignee_user_id = #{assigneeUserId}
	            </if>
	            <if test="caseState != null">
	                and tmc.case_state = #{caseState}
	            </if>
	            <if test="planBeginTimeFrom != null and planBeginTimeFrom !=''">
	                and tmc.plan_begin_time <![CDATA[ >= ]]> to_timestamp(#{planBeginTimeFrom},'YYYY-MM-DD HH24:MI:SS')
	            </if>
	            <if test="planBeginTimeTo != null and planBeginTimeTo !=''">
	                and tmc.plan_begin_time <![CDATA[ <= ]]> to_timestamp(#{planBeginTimeTo},'YYYY-MM-DD HH24:MI:SS')
	            </if>
	         </where>
	         group by tmc.case_id,tu.display_name
	         order by tmc.case_id, tmc.create_time desc
          )
          as t
        
    </select>
  
  <select id="getStockTKCaseList" parameterType="com.jiabo.medical.entity.StockTKCaseDTO" resultMap="caseMap">
    select tmc.*, string_agg (tde.dept_name, ',' ) as dept_name_arr, tu.display_name
          from tb_stocktaking_case as tmc  
          inner join tb_stocktaking_case_plan_dept as tscp
            on tmc.case_id = tscp.case_id
          inner join tb_department as tde
                on tde.dept_id = tscp.dept_id
          left join tb_user as tu
                on tmc.assignee_user_id = tu.user_id
        <where>
            <if test="assigneeUserId != null">
                tmc.assignee_user_id = #{assigneeUserId}
            </if>
            <if test="caseState != null">
                and tmc.case_state = #{caseState}
            </if>
            <if test="planBeginTimeFrom != null and planBeginTimeFrom !=''">
                and tmc.plan_begin_time <![CDATA[ >= ]]> to_timestamp(#{planBeginTimeFrom},'YYYY-MM-DD HH24:MI:SS')
            </if>
            <if test="planBeginTimeTo != null and planBeginTimeTo !=''">
                and tmc.plan_begin_time <![CDATA[ <= ]]> to_timestamp(#{planBeginTimeTo},'YYYY-MM-DD HH24:MI:SS')
            </if>
         </where>
         group by tmc.case_id,tu.display_name
         order by tmc.case_id, tmc.create_time desc
         limit #{pageSize,jdbcType=INTEGER} 
         offset #{pageIndex,jdbcType=INTEGER} 
         
  </select>
  
  <select id="getStockTKDeviceList" parameterType="com.jiabo.medical.entity.StockCaseDTO" resultMap="devMap">
    select tsd.*, tu.display_name,td.device_name,tde.dept_name
          from tb_stocktaking_case_actual_device as tsd
            inner join tb_stocktaking_case as tsc
                on tsd.case_id = tsc.case_id
            left join tb_user as tu
                on tsd.operation_user_id = tu.user_id
            inner join tb_device as td
                on tsd.device_id = td.device_id
            inner join tb_department as tde
                on tde.dept_id = td.dept_id
        <where>
            <if test="caseId != null">
                tsd.case_id = #{caseId}
            </if>
            <if test="operationUserId != null">
                tsd.operation_user_id = #{operationUserId}
            </if>
            <if test="assigneeUserId != null">
                tsc.assignee_user_id = #{assigneeUserId}
            </if>
         </where>
         order by td.dept_id, tsd.operation_time desc
         limit #{pageSize,jdbcType=INTEGER} offset #{pageIndex,jdbcType=INTEGER} 
         
  </select>
  
  <select id="getStockTKDevice" parameterType="com.jiabo.medical.entity.StockCaseDTO" resultMap="caseMap">
        select tmc.*, string_agg (tde.dept_name, ',' ) as dept_name_arr, tu.display_name
          from tb_stocktaking_case as tmc  
          inner join tb_stocktaking_case_plan_dept as tscp
            on tmc.case_id = tscp.case_id
          inner join tb_department as tde
                on tde.dept_id = tscp.dept_id
          left join tb_user as tu
                on tmc.assignee_user_id = tu.user_id
        <where>
            <if test="caseId != null">
                tmc.case_id = #{caseId}
            </if>
         </where>
         group by tmc.case_id,tu.display_name
            
  </select>
  
  <select id="getDeviceIds" resultType="java.lang.Integer" parameterType="java.lang.Integer">  
    select dv.device_id
        
        from tb_device dv
        where
            dv.dept_id = #{deptId}
        
  </select>
  
  <select id="getPmCaseId" resultType="java.lang.Integer" parameterType="java.lang.Integer">  
    select case_id
        from tb_stocktaking_case
        where
            case_state = #{caseState}
        
  </select>
  
  <insert id="addStockTKCase" parameterType="com.jiabo.medical.entity.StockTKCaseDTO">  
    insert into tb_stocktaking_case
        (
            case_subject,
            case_remark, 
            case_state, 
            plan_begin_time, 
            assignee_user_id,
            actual_time,
            hospital_id,
            create_time,
            creater,
            modify_time,
            modifier,
            plan_end_time
        )
        values  
        (
             #{caseSubject,jdbcType=VARCHAR}, 
             #{caseRemark,jdbcType=VARCHAR},
             #{caseState,jdbcType=INTEGER},
             to_timestamp(#{planBeginTime},'YYYY-MM-DD HH24:MI:SS'),
             #{assigneeUserId,jdbcType=INTEGER},
             null,
             #{hospitalId,jdbcType=INTEGER},
             #{createTime,jdbcType=TIMESTAMP},
             #{creater,jdbcType=INTEGER},
             #{modifyTime,jdbcType=TIMESTAMP},
             #{modifier,jdbcType=INTEGER},
             to_timestamp(#{planEndTime},'YYYY-MM-DD HH24:MI:SS')
         )
             
  </insert>
  
  <insert id="addStockDeptCase" parameterType="com.jiabo.medical.entity.StockCaseDTO">  
    insert into tb_stocktaking_case_plan_dept
        (
            case_id,
            dept_id
        )
        values  
        (
             #{caseId,jdbcType=INTEGER},
             #{deptId,jdbcType=INTEGER}
         )
             
  </insert>
  
  <insert id="addStockDeviceCase" parameterType="com.jiabo.medical.entity.StockCaseDTO">  
    insert into tb_stocktaking_case_actual_device
        (
            case_id,
            device_id,
            operation_user_id,
            operation_time
        )
        values  
        (
             #{caseId,jdbcType=INTEGER},
             #{deviceId,jdbcType=INTEGER},
             null,
             null
         )
             
  </insert>
  
  <select id="getSequenceNo" resultType="java.lang.Integer" >
     SELECT last_value from tb_stocktaking_case_case_id_seq
  </select>
  
  <select id="getStockTKCaseStatus" parameterType="com.jiabo.medical.entity.StockCaseDTO"  resultType="java.lang.Integer" >
     SELECT count(1) from tb_stocktaking_case
        where case_id = #{caseId,jdbcType=INTEGER}
            and  device_id = #{deviceId,jdbcType=INTEGER} 
            and (
            operation_user_id is not null
            or operation_time is not null
            )
  </select>
  
  
  
  <update id="updStockTKCase" parameterType="java.lang.Integer">
    update tb_stocktaking_case 
        set
            case_state = 50
           
        where 
            case_id = #{caseId,jdbcType=INTEGER}
            
    </update>

  <update id="updStockTKDevCase" parameterType="com.jiabo.medical.entity.StockCaseDTO">
    update tb_stocktaking_case_actual_device 
        <set>
            <if test="operationUserId != null">
                operation_user_id = #{operationUserId,jdbcType=INTEGER},
            </if>
            <if test="operationTime != null and operationTime != ''">
                operation_time = to_timestamp(#{operationTime},'YYYY-MM-DD HH24:MI:SS'),
            </if>
            
        </set>
           
        where 
	        case_id = #{caseId,jdbcType=INTEGER}
	    and  device_id = #{deviceId,jdbcType=INTEGER}
  </update>
  
  <update id="updStockTKCaseState" parameterType="com.jiabo.medical.entity.StockCaseDTO">
    update tb_stocktaking_case 
        <set>
            <if test="auditState != null">
                audit_state = #{auditState,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                audit_time = to_timestamp(#{modifyTime},'YYYY-MM-DD HH24:MI:SS'),
            </if>
            <if test="modifier != null">
                audit_user_id = #{modifier,jdbcType=INTEGER},
            </if>
        </set>
           
        where 
            case_id = #{caseId,jdbcType=INTEGER}
  </update>
 
    <delete id="delStockTKCase" parameterType="java.lang.Integer">
    delete from tb_stocktaking_case 
        where 
            case_id = #{caseId,jdbcType=INTEGER};
    delete from tb_stocktaking_case_plan_dept 
        where 
            case_id = #{caseId,jdbcType=INTEGER};
    delete from tb_stocktaking_case_actual_device 
        where 
            case_id = #{caseId,jdbcType=INTEGER};
            
  </delete>
</mapper>